{% extends 'myChatbot/base.html' %}
{% load static %}

{% block content %}
	<!-- 自分やユーザーの情報 -->
	<h3 id="me" user_id="1">チャットボット Webアプリ</h3>
<!--
	<h3 id="partner" thread_id="1">bot</h3>
	<div id="users">
		<button class="user" user_id="2">ユーザー2</button>
	</div>
-->
	<br>
	<div id="your_container">
		<!-- チャットの外側部分(1) -->
		<div id="bms_messages_container">
			<!-- ヘッダ部分(2) -->
			<div id="bms_chat_header">
				<!-- ステータス -->
				<div id="bms_chat_user_status">
					<!-- ステータスアイコン -->
					<div id="bms_status_icon">●</div>
					<!-- ユーザー名 -->
					<div id="bms_chat_user_name">ユーザー</div>
				</div>
			</div>

			<!-- タイムライン部分(3) -->
			<div id="bms_messages">
			
				<!-- メッセージ2(右側) -->
				<div class="bms_message bms_right">
					<div class="bms_message_box">
						<div class="bms_message_content">
							<div class="bms_message_text">{{ command.comment }}</div>
						</div>
					</div>
				</div>
				<div class="bms_clear"></div><!-- 回り込みを解除（スタイルでcssに充てる） -->

				<!-- メッセージ1(左側) -->
				<div class="bms_message bms_left">
					<div class="bms_message_box">
						<div class="bms_message_content">
							<div class="bms_message_text">botです</div>
						</div>
					</div>
				</div>
				<div class="bms_clear"></div><!-- 回り込みを解除（スタイルでcssに充てる） -->
			</div>

			<!-- テキストボックス、送信ボタン(4) -->
			<div id="bms_send">
				<form action="" method="POST">
					<input type="text" id="bms_send_message" name="comment">
					{% csrf_token %}
					<button type="submit" id="bms_send_btn">送信</button>
				</form>
			</div>
		</div>
		{% if comment %}
			{{ comment }}
		{% endif %}
	</div>
{% endblock %}
